---
# Main playbook for jamjam server setup
- name: Setup jamjam server
  hosts: all
  become: yes

  roles:
    - common
    - docker
    - jamjam

  post_tasks:
    - name: Show deployment summary
      debug:
        msg: |
          Deployment complete!

          Environment: {{ environment_name }}
          Server: {{ inventory_hostname }}

          Services:
            - signaling-server: port 8080
            - echo-server: port 5000/udp

          Check status: ssh {{ ansible_user }}@{{ ansible_host }} 'cd {{ jamjam_app_dir }} && docker compose ps'
